# Node
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Expo / React Native
.expo/
.expo-shared/
web-build/
/dist/
build/
.DS_Store

# Env files
*.env
server/.env
mobile/.env

# Logs
logs/
*.log
server.log
expo.log
ios.log
android.log

# Coverage / cache
coverage/
.cache/
.expo-dev-cache/

# Misc
*.local
*.orig
